<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="work-process" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><span th:text="#{how.it} + ' '"></span> <strong th:text="#{works}"></strong></h2>
                <div class="line">
                </div>
            </div>
            <div class="c-padding">
                <img th:src="@{/resources/img/SITE.png}" class="img-responsive">
            </div>

        </div>
    </div>
</div>

</html>